@charset "utf-8";
/* CSS Document */

.Elems
{
	height:450px;
}
.ElemCons
{
	height:130px;
	padding:2px 20px;
	margin-left:auto;
	margin-right:auto;
}
#Navigation
{
	height:30px;
}
.NavigationListItem
{
	font-family: 'Rock Salt', cursive;
	font-weight:bold;
	font-size:10px;
	line-height:10px;
}
.NavigationListItemTitle
{
	padding:2% 5%;
}
#PageHeader
{
	position:relative;
	top:32px;
	left:0;
	right:0;
}
#PageHeader h2
{
	font-family: 'Rock Salt', cursive;
	font-weight:bold;
	font-size:14px;
	line-height:20px;
}
#ComicSectionBtnImg
{
	width:100px;
	height:150px;
}
#ComicSectionButtons
{
	height:220px;
}
#VideoSectionBtnImg
{
	width:100px;
	height:66px;
}
#VideoSectionButtons
{
	height:130px;
}